<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>In Use</string>
	<key>connections</key>
	<dict>
		<key>163FAC32-EC06-43B8-98B0-12583FE9FBD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0B3F941-2CBF-439F-856F-F7BDED8A264A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C321AC5-3A29-42BE-994A-F23820B0C82E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>163FAC32-EC06-43B8-98B0-12583FE9FBD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew McAllister</string>
	<key>description</key>
	<string>Ignores case of A/S in bill number.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search for Bills 2022</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>22bill</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Bill Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7C321AC5-3A29-42BE-994A-F23820B0C82E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

fixedQuery=$(echo $query | tr '[:lower:]' '[:upper:]')

echo -n $fixedQuery</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>163FAC32-EC06-43B8-98B0-12583FE9FBD9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://njleg.state.nj.us/bill-search/2022/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F0B3F941-2CBF-439F-856F-F7BDED8A264A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>163FAC32-EC06-43B8-98B0-12583FE9FBD9</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>7C321AC5-3A29-42BE-994A-F23820B0C82E</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>F0B3F941-2CBF-439F-856F-F7BDED8A264A</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
