<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.urlimport.112A4807-C470-4794-8FCE-1B9D48785431</string>
	<key>lightthemeuid</key>
	<string>AE7DA2C6-E060-454F-9DD1-DA776CE6AAC7</string>
</dict>
</plist>
