<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bibtex_library_path</key>
	<string>/Users/mcala/obsidian/zk/Bibliography.bib</string>
	<key>citation_picker_keyword</key>
	<string>cite</string>
	<key>csl_for_pandoc</key>
	<string>~/Zotero/styles/apa.csl</string>
	<key>literature_note_folder</key>
	<string>~/obsidian/zk/04 Literature</string>
</dict>
</plist>
