#    █████╗ ███████╗██████╗  ██████╗ ███████╗██████╗  █████╗  ██████╗███████╗
#   ██╔══██╗██╔════╝██╔══██╗██╔═══██╗██╔════╝██╔══██╗██╔══██╗██╔════╝██╔════╝
#   ███████║█████╗  ██████╔╝██║   ██║███████╗██████╔╝███████║██║     █████╗
#   ██╔══██║██╔══╝  ██╔══██╗██║   ██║╚════██║██╔═══╝ ██╔══██║██║     ██╔══╝
#   ██║  ██║███████╗██║  ██║╚██████╔╝███████║██║     ██║  ██║╚██████╗███████╗
#   ╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚══════╝
#
# AeroSpace is an i3-like tiling window manager for macOS.
#
# Github:   https://github.com/nikitabobko/AeroSpace
# Guide:    https://nikitabobko.github.io/AeroSpace/guide
# Commands: https://nikitabobko.github.io/AeroSpace/commands

# --- PREFACE
start-at-login = true

# Add commands for after login and after AeroSpace startup.
# Can't seem to get borders to work.
# after-login-command = ['exec-and-forget borders']
# after-startup-command = ['exec-and-forget borders']

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'
default-root-container-orientation = 'auto'

key-mapping.preset = 'qwerty'

# Mouse follows focus when focused window or monitor changes
#on-focused-monitor-changed = ['move-mouse monitor-lazy-center']
#on-focus-changed = ['move-mouse window-lazy-center']

# --- GAPS & PADDING
accordion-padding = 30
[gaps]
inner.vertical = [
  { monitor.built-in = 1 },
  { monitor.main = 10 },
  { monitor.secondary = 10 },
  0,
]
inner.horizontal = [
  { monitor.built-in = 1 },
  { monitor.main = 10 },
  { monitor.secondary = 10 },
  0,
]
outer.left = [
  { monitor.built-in = 0 },
  { monitor.main = 10 },
  { monitor.secondary = 10 },
  0,
]
outer.right = [
  { monitor.built-in = 0 },
  { monitor.main = 10 },
  { monitor.secondary = 10 },
  0,
]
outer.top = [
  { monitor.built-in = 0 },
  { monitor.main = 10 },
  { monitor.secondary = 10 },
  0,
]
outer.bottom = [
  { monitor.built-in = 5 },
  { monitor.main = 10 },
  { monitor.secondary = 10 },
  0,
]

# --- MODE MAIN
[mode.main.binding]

# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                   leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right
# All possible modifiers: cmd, alt, ctrl, shift

# --- SWAP LAYOUT
alt-slash = 'layout floating tiling'
alt-comma = 'layout accordion tiles'
alt-shift-comma = 'layout tiles vertical horizontal'


# --- FOCUS
cmd-shift-h = 'focus left --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors'
cmd-shift-j = 'focus down'
cmd-shift-k = 'focus up'
cmd-shift-l = 'focus right --boundaries all-monitors-outer-frame --boundaries-action wrap-around-all-monitors'

# --- MOVES
alt-shift-h = 'move left'
#alt-shift-j = 'move up'
#alt-shift-k = 'move down'
alt-shift-l = 'move right'
ctrl-backspace = 'move-workspace-to-monitor --wrap-around next'

# --- WORKSPACE DEFINITIONS
alt-1 = 'workspace 1' # 1-4 are used as temporary workspaces
alt-2 = 'workspace 2' # we rarely go past that to 6-9
alt-3 = 'workspace 3'
alt-4 = 'workspace 4'
#alt-5 = 'workspace 5' # Screenshot tool hotkey
alt-6 = 'workspace Remote'     # Remote Access
alt-7 = 'workspace 7'
alt-8 = 'workspace 8'
alt-9 = 'workspace Activity'   # iTerm with btop and Activity Monitor
alt-a = 'workspace AI'         # Artificial Intelligence Tools: Claude, ChatGPT
alt-b = 'workspace Browser'    # Browser: Arc, Safari, Firefox
alt-c = 'workspace Comms'      # Comms: Slack, Discord, Messages
alt-d = 'workspace Devonthink' # Devonthink
alt-e = 'workspace Email'      # Email: Mail
alt-f = 'workspace Files'      # Files: Finder 
alt-g = 'workspace G'          # 
alt-i = 'workspace Airtable'   # aIrtable
alt-m = 'workspace Music'      # Music: Music, MusicBox etc.
alt-n = 'workspace Journal'    #JourNaling (Day One)
alt-o = 'workspace Video'      # Video Calls (ZOOm, Teams) 
alt-p = 'workspace P'
alt-q = 'workspace Excel'      # Excel: SQL 
alt-r = 'workspace Read'       # Reading: Books, Kindle, Readwise
alt-s = 'workspace Schedule'   # Schedule: Calendar, Todoist, Trello
alt-t = 'workspace Terminal'   # Terminal
alt-u = 'workspace U'
alt-v = 'workspace Develop'    # Dev: VSCode & Zed & Cursor -- Not used, put all in Terminal
alt-w = 'workspace Write'      # Writing: Obsidian with accordion view
alt-x = 'workspace Anki'       # Anki; just easy via left hand to get here
alt-y = 'workspace Youtube'    # Play (Youtube)
alt-z = 'workspace Zotero'     # Zotero

alt-shift-1 = 'move-node-to-workspace 1'
alt-shift-2 = 'move-node-to-workspace 2'
alt-shift-3 = 'move-node-to-workspace 3'
alt-shift-4 = 'move-node-to-workspace 4'
#alt-shift-5 = 'move-node-to-workspace 5'
alt-shift-6 = 'move-node-to-workspace Remote'
alt-shift-7 = 'move-node-to-workspace 7'
alt-shift-8 = 'move-node-to-workspace 8'
alt-shift-9 = 'move-node-to-workspace Activity'
alt-shift-a = 'move-node-to-workspace AI'
alt-shift-b = 'move-node-to-workspace Browser'
alt-shift-c = 'move-node-to-workspace Comms'
alt-shift-d = 'move-node-to-workspace Devonthink'
alt-shift-e = 'move-node-to-workspace Email'
alt-shift-f = 'move-node-to-workspace Files'
alt-shift-g = 'move-node-to-workspace G'
alt-shift-i = 'move-node-to-workspace Airtable'
alt-shift-m = 'move-node-to-workspace Music'
alt-shift-n = 'move-node-to-workspace Journal'
alt-shift-o = 'move-node-to-workspace Video'
alt-shift-p = 'move-node-to-workspace P'
alt-shift-q = 'move-node-to-workspace Excel'
alt-shift-r = 'move-node-to-workspace Read'
alt-shift-s = 'move-node-to-workspace Schedule'
alt-shift-t = 'move-node-to-workspace Terminal'
alt-shift-u = 'move-node-to-workspace U'
alt-shift-v = 'move-node-to-workspace V'
alt-shift-w = 'move-node-to-workspace Write'
alt-shift-x = 'move-node-to-workspace Anki'
alt-shift-y = 'move-node-to-workspace Youtube'
alt-shift-z = 'move-node-to-workspace Zotero'

alt-tab = 'workspace-back-and-forth'
#alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

# --- MODE SWITCH
alt-equal = 'mode resize'
alt-shift-semicolon = 'mode service'

# --- MODE SERVICE
[mode.service.binding]
esc = ['reload-config', 'mode main']
enter = ['reload-config', 'mode main']

alt-shift-h = ['join-with left', 'mode main']
alt-shift-j = ['join-with down', 'mode main']
alt-shift-k = ['join-with up', 'mode main']
alt-shift-l = ['join-with right', 'mode main']

# --- MODE RESIZE
[mode.resize.binding]
enter = 'mode main'
esc = 'mode main'

shift-h = 'resize smart +100'
shift-l = 'resize smart -100'

h = 'resize smart +50'
l = 'resize smart -50'

# --- WINDOW WORKSPACE ASSIGNMENT
# Artificial Intelligence Tools
[[on-window-detected]]
if.app-id = "com.openai.chat"
run = 'move-node-to-workspace AI'

[[on-window-detected]]
if.app-id = "com.anthropic.claudefordesktop"
run = 'move-node-to-workspace AI'

[[on-window-detected]]
if.app-id = "com.electron.ollama"
run = 'move-node-to-workspace AI'

# Web Browsers
# Arc requires multiple possibilities for how little Arc is displayed.
[[on-window-detected]]
if.app-id = 'company.thebrowser.Browser'
if.workspace = "Email"
run = ['layout floating']

[[on-window-detected]]
if.app-id = 'company.thebrowser.Browser'
run = ['layout tiling', 'move-node-to-workspace Browser']

[[on-window-detected]]
if.app-id = 'company.thebrowser.dia'
run = ['layout tiling', 'move-node-to-workspace Browser']

[[on-window-detected]]
if.app-id = 'com.apple.Safari'
run = ['layout floating', 'move-node-to-workspace Browser']

#[[on-window-detected]]
#check-further-callbacks = false
#if.app-id = 'com.kagi.kagimacOS'
#if.workspace = 'Email'
#run = ['layout floating']
#
#[[on-window-detected]]
#check-further-callbacks = false
#if.app-id = 'com.kagi.kagimacOS'
#if.workspace = 'Schedule'
#run = ['layout floating']
#
#[[on-window-detected]]
#check-further-callbacks = false
#if.app-id = 'com.kagi.kagimacOS'
#if.window-title-regex-substring = "Untitled"
#run = ['layout floating']
#
#[[on-window-detected]]
#check-further-callbacks = false
#if.app-id = 'com.kagi.kagimacOS'
#if.window-title-regex-substring = "Completions"
#run = ['layout floating']
#
#[[on-window-detected]]
#if.app-id = 'com.kagi.kagimacOS'
#run = ['layout tiling', 'move-node-to-workspace Browser']

[[on-window-detected]]
if.app-id = 'app.zen-browser.zen'
run = 'move-node-to-workspace Browser'

[[on-window-detected]]
if.app-id = 'org.mozilla.firefox'
run = 'move-node-to-workspace Browser'

[[on-window-detected]]
if.app-id = 'org.mozilla.librewolf'
run = 'move-node-to-workspace Browser'

# Dev Windows
[[on-window-detected]]
if.app-id = 'com.microsoft.VSCode'
run = 'move-node-to-workspace Terminal'

[[on-window-detected]]
if.app-id = 'com.mitchellh.ghostty'
run = 'move-node-to-workspace Terminal'

[[on-window-detected]]
if.app-id = 'com.todesktop.230313mzl4w4u92'
run = 'move-node-to-workspace Terminal'

# COMMS
[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = ['layout tiling', 'move-node-to-workspace Comms']

[[on-window-detected]]
if.app-id = 'com.tinyspeck.slackmacgap'
run = ['layout tiling', 'move-node-to-workspace Comms']

[[on-window-detected]]
if.app-id = 'com.apple.MobileSMS'
run = ['layout tiling', 'move-node-to-workspace Comms']

# Email & Timery
[[on-window-detected]]
if.app-id = 'com.apple.mail'
if.window-title-regex-substring = 'NJ Legislature'
run = 'move-node-to-workspace Email'

[[on-window-detected]]
if.app-id = 'com.apple.mail'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.joehribar.toggl'
run = ['layout floating', 'move-node-to-workspace Email']

# Files: Finder
[[on-window-detected]]
if.app-id = 'com.apple.finder'
run = 'move-node-to-workspace Files'

# Music: Music & MusicBox
[[on-window-detected]]
if.app-id = 'com.apple.Music'
run = 'move-node-to-workspace Music'

[[on-window-detected]]
if.app-id = 'br.com.marcosatanaka.musicbox'
run = 'move-node-to-workspace Music'

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = 'move-node-to-workspace Music'

# DeVonthink
[[on-window-detected]]
if.app-id = 'com.devon-technologies.think3'
run = 'move-node-to-workspace Devonthink'

[[on-window-detected]]
if.app-id = 'com.devon-technologies.think'
run = 'move-node-to-workspace Devonthink'

# Video: zOOm, teams
[[on-window-detected]]
if.app-id = 'us.zoom.xos'
run = 'move-node-to-workspace Video'

[[on-window-detected]]
if.app-id = 'com.microsoft.teams2'
run = 'move-node-to-workspace Video'

# aIrtable
[[on-window-detected]]
if.app-id = 'com.FormaGrid.Airtable'
run = 'move-node-to-workspace Airtable'

# Reading: Books, Kindle, Readwise
[[on-window-detected]]
if.app-id = 'com.apple.iBooks'
run = 'move-node-to-workspace Read'

[[on-window-detected]]
if.app-id = 'com.amazon.Lassen'
run = 'move-node-to-workspace Read'

[[on-window-detected]]
if.app-id = 'com.kovidgoyal.calibre'
run = 'move-node-to-workspace Read'

[[on-window-detected]]
if.app-id = 'io.readwise.read'
run = 'move-node-to-workspace Read'

# Schedule: Calendar & Todoist
[[on-window-detected]]
if.app-id = 'com.apple.iCal'
run = 'move-node-to-workspace Schedule'

[[on-window-detected]]
if.app-id = 'com.todoist.mac.Todoist'
run = 'move-node-to-workspace Schedule'

[[on-window-detected]]
if.app-id = 'com.electron.asana'
run = 'move-node-to-workspace Schedule'

[[on-window-detected]]
if.app-id = 'com.apple.reminders'
run = 'move-node-to-workspace Schedule'

[[on-window-detected]]
if.app-id = 'com.atlassian.trello'
run = 'move-node-to-workspace Schedule'

# WRITING
[[on-window-detected]]
if.app-id = 'md.obsidian'
run = ['layout tiling', 'move-node-to-workspace Write']

[[on-window-detected]]
if.app-id = 'com.literatureandlatte.scrivener3'
run = ['layout tiling', 'move-node-to-workspace Write']

[[on-window-detected]]
if.app-id = 'net.shinyfrog.bear'
run = ['layout tiling', 'move-node-to-workspace Write']

# Excel :
[[on-window-detected]]
check-further-callbacks = false
if.app-id = 'com.microsoft.Excel'
if.window-title-regex-substring = ".xlsx"
run = ['layout floating', 'move-node-to-workspace Excel']

[[on-window-detected]]
if.app-id = 'com.microsoft.Excel'
run = ['layout floating']

# Play (YouTube)
[[on-window-detected]]
if.app-id = 'br.com.marcosatanaka.play'
run = 'move-node-to-workspace Youtube'

# Zotero
[[on-window-detected]]
if.app-name-regex-substring = 'zotero'
run = 'move-node-to-workspace Zotero'

# Day One
[[on-window-detected]]
if.app-id = 'com.bloombuilt.dayone-mac'
check-further-callbacks = true
run = 'move-node-to-workspace Journal'

[[on-window-detected]]
if.app-id = 'com.bloombuilt.dayone-mac'
if.workspace = 'Journal'
run = 'layout floating'

# FLOATING
[[on-window-detected]]
if.app-id = 'com.1password.1password'
run = ['layout floating', 'move-node-to-workspace Browser']

[[on-window-detected]]
if.app-id = 'com.proton.pass.electron'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.apple.Passwords'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.microsoft.rdc.macos'
run = ['layout floating', 'move-node-to-workspace Remote']

[[on-window-detected]]
if.app-id = 'com.apple.AddressBook'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.apple.ActivityMonitor'
run = 'move-node-to-workspace Activity'

[[on-window-detected]]
if.app-id = 'com.apple.AppStore'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.apple.DiskUtility'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.apple.FaceTime'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'org.pqrs.Karabiner-Elements.Settings'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'org.pqrs.Karabiner-EventViewer'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.replay.sleeve'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'net.ankiweb.dtop'
if.window-title-regex-substring = 'AM'
run = ['layout floating', 'move-node-to-workspace Anki']

[[on-window-detected]]
if.app-id = 'com.astrio.Sofa'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.highcaffeinecontent.pastel'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.readdle.PDFExpert-Mac'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.microsoft.Word'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.stairways.keyboardmaestro.editor'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.apple.ScreenContinuity'
run = ['layout floating']

[[on-window-detected]]
if.app-id = 'com.apple.shortcuts'
run = ['layout floating']

[[on-window-detected]]
if.app-id = 'com.apple.systempreferences'
run = ['layout floating']

[[on-window-detected]]
if.app-id = 'com.runningwithcrayons.Alfred-Preferences'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.devon-technologies.agent'
run = 'layout floating'

[[on-window-detected]]
if.app-id = 'com.tresorit.mac'
run = ['layout floating', 'move-node-to-workspace Files']

[[on-window-detected]]
if.app-id = 'com.noodlesoft.Hazel'
run = ['layout floating', 'move-node-to-workspace Files']

[[on-window-detected]]
if.app-id = 'com.roehl.habitkit'
run = ['layout floating']

[[on-window-detected]]
if.app-id = "com.charliemonroe.Downie-4"
run = ['layout floating']

[[on-window-detected]]
if.window-title-regex-substring = "CleanShot X"
run = ['layout floating']

# --- FORCE WORKSPACE TO MONITORS
[workspace-to-monitor-force-assignment]
Comms = 'secondary'
Music = 'secondary'
