# 
#    █████╗ ████████╗██╗   ██╗██╗███╗   ██╗
#   ██╔══██╗╚══██╔══╝██║   ██║██║████╗  ██║
#   ███████║   ██║   ██║   ██║██║██╔██╗ ██║
#   ██╔══██║   ██║   ██║   ██║██║██║╚██╗██║
#   ██║  ██║   ██║   ╚██████╔╝██║██║ ╚████║
#   ╚═╝  ╚═╝   ╚═╝    ╚═════╝ ╚═╝╚═╝  ╚═══╝
#
# Atuin replaces your existing shell history 
# with a SQLite database, and records additional 
# context for your commands.
#
# https://docs.atuin.sh/configuration/config/


# Database Storage Location
# default linux/mac: ~/.local/share/atuin/history.db
# alternative: db_path = "~/.history.db"

# date format used, either "us" or "uk"
dialect = "us"

# default timezone to use when displaying time
# can show offset; see docs if ever needed
timezone = "local"

# automatic update check
update_check = true

# Search Modes
# Values: prefix, fulltext, fuzzy, skim
search_mode = "fuzzy"

# Filter Mode to Start With
# Values: global, host, session, directory
filter_mode = "directory"

# Workspace filtering, filter commands made in 
# directory with git repository tree.
workspaces = true

# Filter and search mode to use when atuin is invoked from up-key 
filter_mode_shell_up_key_binding = "global"
search_mode_shell_up_key_binding = "fuzzy"

# Which history picker style to use.
# Values: auto, full, compact
style = "full"

# Maximum number of lines the interface uses.
# Set to 0 to always use full screen
inline_height = 20

# Invert the UI and put the search bar at the top
invert = true

# Show a preview of the selected command if longer than terminal width
show_preview = true

# What to do when exiting while searching
# Values: return-original, return-query (typed so far)
exit_mode = "return-query"

# use ctrl instead of alt as the shortcut modifier key for numerical UI shortcuts
ctrl_n_shortcuts = true

# prevent commands matching any of these regexes from being written to history.
# Note that these regular expressions are unanchored, i.e. if they don't start
# with ^ or end with $, they'll match anywhere in the command.
# For details on the supported regular expression syntax, see
# https://docs.rs/regex/latest/regex/#syntax
# history_filter = [
#   "^secret-cmd",
#   "^innocuous-cmd .*--secret=.+",
# ]

# prevent commands run with cwd matching any of these regexes from being written
# to history. Note that these regular expressions are unanchored, i.e. if they don't
# start with ^ or end with $, they'll match anywhere in CWD.
# For details on the supported regular expression syntax, see
# https://docs.rs/regex/latest/regex/#syntax
# cwd_filter = [
#   "^/very/secret/area",
# ]

# Configure the maximum height of the preview
max_preview_height = 4

# Show help line and statistics
show_help = true

# Show tabs for search and inspect
show_tabs = true

# Built-in filter for secret-keys. Includes:
# 1. AWS key id
# 2. Github pat (old and new)
# 3. Slack oauth tokens (bot, user)
# 4. Slack webhooks
# 5. Stripe live/test keys
secrets_filter = true

# Enable enter running command automatically.
enter_accept = false


[stats]
# Set commands where we should consider the subcommand for statistics. Eg, kubectl get vs just kubectl
common_subcommands = [
    "apt",
    "cargo",
    "uv",
    "composer",
    "dnf",
    "docker",
    "git",
    "go",
    "ip",
    "kubectl",
    "nix",
    "nmcli",
    "npm",
    "pecl",
    "pnpm",
    "podman",
    "port",
    "systemctl",
    "tmux",
    "yarn",
    "uv",
]

# Set commands that should be totally stripped and ignored from stats
common_prefix = ["sudo"]

## Set commands that will be completely ignored from stats
ignored_commands = ["^cd", "^ls", "^vi", "^nv"]

[sync]
records = true

[preview]
# Preview strategy to calculate the preview height (respects max_preview_height).
# values: auto, static
# auto: length of the selected command.
# static: length of the longest command stored in the history.
strategy = "auto"
