<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.devonthink3</string>
	<key>category</key>
	<string>In Use</string>
	<key>connections</key>
	<dict>
		<key>15ECB038-1C56-41D6-AC50-9984DA289C3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>527D3580-5439-44B6-8AB0-669D56563EE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2ACAF7B5-D6B6-4C2C-89AD-D08FE1583A4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69A2B67C-291C-4BB3-8320-D50FB1E8C67B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AEA15D2-325A-4035-B82D-2BE6E61AF6DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21EB1FC5-B7BC-48DC-8DCB-17F9CF5B4962</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>711064CC-2B1E-4E2D-ABBB-65AAEB40402E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>17E64F27-90E4-477E-9A59-392F55D59E36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BBFF45B2-2D93-4206-8143-F4962A7F8EF4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8257CA25-589C-4863-B2AA-C9472F194D7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FF49BEE3-CAC5-4DC3-A5E6-E29422C5A913</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>61842D49-0220-4631-AD64-CB28DDDF55B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>927EF927-F4A9-4B2B-917B-B06F994B5365</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>15ECB038-1C56-41D6-AC50-9984DA289C3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>844196EF-4B2A-437E-9350-29C9F48F29F0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B57D8FC-9B9F-43A9-95EB-3525E1767DC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2151EBC-49B5-46E2-9497-B4CA5A521958</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B9B0A68-004C-4E49-8606-55D3644D789C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BF0089EB-4E7C-4D8F-9540-BD5B7319312D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>323C664C-6085-44B8-9D0E-3434F73BA82E</key>
		<array/>
		<key>446DAF08-B6FE-4B87-8F57-55F7FA55D8EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31581AE9-94F7-4264-84D3-0C1353820E3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4630ABBC-7FFF-454D-950D-9285840BAE23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC714B69-2615-4B4B-ACF3-A6CC8D336A4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5800078A-EF61-45FB-8B7F-55BB89F655B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B1808C4-E1DA-44FD-B628-EAAE8B153DDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>5B9B0A68-004C-4E49-8606-55D3644D789C</key>
		<array/>
		<key>6B1808C4-E1DA-44FD-B628-EAAE8B153DDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E46D0C2-4086-4FC6-964A-58518C88A6CE</string>
				<key>disabled</key>
				<true/>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>15ECB038-1C56-41D6-AC50-9984DA289C3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BE0D15C-FAF7-4846-B330-B4A70A2DCF7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D89770C-3D06-424B-95D8-8B6DE7DCF1C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D89770C-3D06-424B-95D8-8B6DE7DCF1C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AEA15D2-325A-4035-B82D-2BE6E61AF6DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7EF34E73-D3A0-4D06-9574-84184751BA36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15ECB038-1C56-41D6-AC50-9984DA289C3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8257CA25-589C-4863-B2AA-C9472F194D7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ACAF7B5-D6B6-4C2C-89AD-D08FE1583A4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB9901BE-3D8F-4EAD-A746-63ACE411CF36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D89770C-3D06-424B-95D8-8B6DE7DCF1C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B34062B8-F365-4C1E-9CB1-76DF2CE2481A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B57D8FC-9B9F-43A9-95EB-3525E1767DC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7058659-BC52-43D6-8790-98CEBD04EEE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D89770C-3D06-424B-95D8-8B6DE7DCF1C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2151EBC-49B5-46E2-9497-B4CA5A521958</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>323C664C-6085-44B8-9D0E-3434F73BA82E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F5F963D9-D107-4474-ADA7-2B4C5EA7E9F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5F963D9-D107-4474-ADA7-2B4C5EA7E9F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F993E540-B864-4AB7-874E-400CC2E7726F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F993E540-B864-4AB7-874E-400CC2E7726F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>527D3580-5439-44B6-8AB0-669D56563EE2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>DEVONthink Portal</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>DEVONthink 3</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>|adw| </string>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AB9901BE-3D8F-4EAD-A746-63ACE411CF36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>21EB1FC5-B7BC-48DC-8DCB-17F9CF5B4962</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/System/Volumes/Data/Applications/DEVONthink 3.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>31581AE9-94F7-4264-84D3-0C1353820E3F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemURL</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>ddvn</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>~/Library/Metadata/com.devon-technologies.think3</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Brute Force</string>
				<key>title</key>
				<string>DEVONthink 3 Search</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>446DAF08-B6FE-4B87-8F57-55F7FA55D8EE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6BE0D15C-FAF7-4846-B330-B4A70A2DCF7F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:refurl}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>17E64F27-90E4-477E-9A59-392F55D59E36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>open document</string>
						<key>uid</key>
						<string>711064CC-2B1E-4E2D-ABBB-65AAEB40402E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>launch</string>
						<key>outputlabel</key>
						<string>x-devonthink-item</string>
						<key>uid</key>
						<string>BBFF45B2-2D93-4206-8143-F4962A7F8EF4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy</string>
						<key>outputlabel</key>
						<string>copy markdown</string>
						<key>uid</key>
						<string>FF49BEE3-CAC5-4DC3-A5E6-E29422C5A913</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>browse</string>
						<key>outputlabel</key>
						<string>browse templates</string>
						<key>uid</key>
						<string>927EF927-F4A9-4B2B-917B-B06F994B5365</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>init</string>
						<key>outputlabel</key>
						<string>external trigger</string>
						<key>uid</key>
						<string>844196EF-4B2A-437E-9350-29C9F48F29F0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2AEA15D2-325A-4035-B82D-2BE6E61AF6DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Pop</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>69A2B67C-291C-4BB3-8320-D50FB1E8C67B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8257CA25-589C-4863-B2AA-C9472F194D7E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>dvn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>if [[ $allowed -eq 1 ]]; then
	./src/DEVONthinkPortal "$1"
else 
	open -b "com.runningwithcrayons.Alfred" alfred://runtrigger/$alfred_workflow_bundleid/polite
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>DEVONthink 3 Portal</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7D89770C-3D06-424B-95D8-8B6DE7DCF1C4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>init</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B7058659-BC52-43D6-8790-98CEBD04EEE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>2ACAF7B5-D6B6-4C2C-89AD-D08FE1583A4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>61842D49-0220-4631-AD64-CB28DDDF55B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>dvn | DEVONthink 3 Action</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>5800078A-EF61-45FB-8B7F-55BB89F655B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>|uni| </string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>fileAction</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6B1808C4-E1DA-44FD-B628-EAAE8B153DDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}'. '{variables}‘</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>2E46D0C2-4086-4FC6-964A-58518C88A6CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>|sel| </string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.devon-technologies.think3</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7EF34E73-D3A0-4D06-9574-84184751BA36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>init</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>527D3580-5439-44B6-8AB0-669D56563EE2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>15ECB038-1C56-41D6-AC50-9984DA289C3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/zsh

xattr -d com.apple.quarantine ./src/DEVONthinkPortal

cat &lt;&lt;EOF | osascript
	tell application id "com.runningwithcrayons.Alfred"
	 	set theWorkflow to "${alfred_workflow_bundleid}"
	 	set allowed to "allowed"
 		set theValue to "1"
	 	set configuration allowed to value theValue in workflow theWorkflow
	 	reload workflow theWorkflow	 end tell
EOF
exit 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>323C664C-6085-44B8-9D0E-3434F73BA82E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>F5F963D9-D107-4474-ADA7-2B4C5EA7E9F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>F993E540-B864-4AB7-874E-400CC2E7726F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>D2151EBC-49B5-46E2-9497-B4CA5A521958</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>50</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string>System Light</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>＿＿＿＿＿＿＿＿＿＿＿   􁌴   ＿＿＿＿＿＿＿＿＿＿＿

Granting permission removes the "quarantined" flag that macOS automatically assigns to all files downloaded from the Internet. 

Removing the flag prevents the system from classifying the program as corrupted and allows it to run.

￣￣￣￣￣￣￣￣￣￣￣   􁌴   ￣￣￣￣￣￣￣￣￣￣￣</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>60</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>5B9B0A68-004C-4E49-8606-55D3644D789C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>polite</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>B34062B8-F365-4C1E-9CB1-76DF2CE2481A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Grant Permission</string>
				<key>button2</key>
				<string>More Info</string>
				<key>button3</key>
				<string>Cancel</string>
				<key>description</key>
				<string>To use DEVONthink 3 Portal, you have to allow it to run.</string>
				<key>title</key>
				<string>Permissions Required</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>2B57D8FC-9B9F-43A9-95EB-3525E1767DC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Tink</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>BF0089EB-4E7C-4D8F-9540-BD5B7319312D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>hide</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>4630ABBC-7FFF-454D-950D-9285840BAE23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>FC714B69-2615-4B4B-ACF3-A6CC8D336A4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![DEVONthink 3 Portal Workflow Icon](icon.png)

# DEVONthink Portal

Advanced DEVONthink 3 interface for your databases. Search your files or groups and interact with them through Alfred.

---

Created by [Patrick Sy](https://github.com/zeitlings/alfred-devonthink) | [Full Documentation](https://github.com/zeitlings/alfred-devonthink) | [Report Issues](https://github.com/zeitlings/alfred-devonthink) | [Support the Project](https://ko-fi.com/zeitlings) ❤️

---

**Use A** ` dvn [ ] [ . ] [ {query} ] `

	- `dvn ` No input displays all available databases
	- `dvn .` Displays globally available actions
	- `dvn {query}` Initiates a global search
		- Supports all DEVONthink 3 prefixes and wildcards
	- `dvn :c` Shows internal configuration

**Use B** ` ddvn [ {query} ] `
	- `ddvn {query}` triggers a file filter brute-force search (fast)

![Preview 1](/about/dvn-1.png)
![Preview 2](/about/dvn-2.png)
![Preview 3](/about/dvn-3.png)
![Preview 4](/about/dvn-4.png)

---


## Documentation

You can find an [illustrated documentation for the workflow on Github](https://github.com/zeitlings/alfred-devonthink).

## Configuration

Some internal configuration options are available via `dvn :c`

![Preview 4](/about/dvn-5.png)

### Labels

It is not currently possible to extract the names you have assigned to your labels directly from DEVONthink. However, you can enter them in the text field on the left, where they will be picked up by the workflow. 

The colored icons for the labels are located in `./icons/labels` and `./icons/labels_flagged`. If you want different colored icons, you can replace the existing icons.

---

### Integration 

#### µBib 

To integrate DEVONthink Portal with µBib to extract bibliographic data from documents, simply download and install [the workflow from Github](https://github.com/zeitlings/ubib).


#### OpenAI 

You can create *literature review summaries* of documents using one of [OpenAI's](https://openai.com/product) LLMs (`GPT-3.5-Turbo` or `GPT-4-Turbo`). The summaries can be appended to the *annotation file* corresponding to a document (markdown only), or added to the custom metadata (default key: `mdreviewsummary`). Requires a valid API key.
**Be aware that using** `GPT-4 Turbo` **can quickly become expensive.**


#### PDF Expert

If you're using PDF Expert, activating the workflow with a hotkey (default: `option+shift+space`) will show you an item that lets you copy the x-devonthink-item link for the current page.</string>
	<key>uidata</key>
	<dict>
		<key>15ECB038-1C56-41D6-AC50-9984DA289C3A</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>17E64F27-90E4-477E-9A59-392F55D59E36</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>21EB1FC5-B7BC-48DC-8DCB-17F9CF5B4962</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>2ACAF7B5-D6B6-4C2C-89AD-D08FE1583A4A</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>2AEA15D2-325A-4035-B82D-2BE6E61AF6DC</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>2B57D8FC-9B9F-43A9-95EB-3525E1767DC5</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>2E46D0C2-4086-4FC6-964A-58518C88A6CE</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>31581AE9-94F7-4264-84D3-0C1353820E3F</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>323C664C-6085-44B8-9D0E-3434F73BA82E</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>446DAF08-B6FE-4B87-8F57-55F7FA55D8EE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>4630ABBC-7FFF-454D-950D-9285840BAE23</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>890</real>
		</dict>
		<key>527D3580-5439-44B6-8AB0-669D56563EE2</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>5800078A-EF61-45FB-8B7F-55BB89F655B6</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>5B9B0A68-004C-4E49-8606-55D3644D789C</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>61842D49-0220-4631-AD64-CB28DDDF55B8</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>69A2B67C-291C-4BB3-8320-D50FB1E8C67B</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>6B1808C4-E1DA-44FD-B628-EAAE8B153DDC</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>6BE0D15C-FAF7-4846-B330-B4A70A2DCF7F</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>7D89770C-3D06-424B-95D8-8B6DE7DCF1C4</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>7EF34E73-D3A0-4D06-9574-84184751BA36</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>8257CA25-589C-4863-B2AA-C9472F194D7E</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>AB9901BE-3D8F-4EAD-A746-63ACE411CF36</key>
		<dict>
			<key>note</key>
			<string>Window / Tab Switcher</string>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>B34062B8-F365-4C1E-9CB1-76DF2CE2481A</key>
		<dict>
			<key>note</key>
			<string>Permission Handler</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>B7058659-BC52-43D6-8790-98CEBD04EEE5</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>BF0089EB-4E7C-4D8F-9540-BD5B7319312D</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>860</real>
		</dict>
		<key>D2151EBC-49B5-46E2-9497-B4CA5A521958</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>F5F963D9-D107-4474-ADA7-2B4C5EA7E9F1</key>
		<dict>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>F993E540-B864-4AB7-874E-400CC2E7726F</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>FC714B69-2615-4B4B-ACF3-A6CC8D336A4B</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>920</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>noCase</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Case Insensitive</string>
						<string>noCase</string>
					</array>
					<array>
						<string>Diacritic Insensitive</string>
						<string>noUmlauts</string>
					</array>
					<array>
						<string>Fuzzy</string>
						<string>fuzzy</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>compare_option</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>35</string>
				<key>pairs</key>
				<array>
					<array>
						<string>∞</string>
						<string>9223372036854775807</string>
					</array>
					<array>
						<string>25</string>
						<string>25</string>
					</array>
					<array>
						<string>35</string>
						<string>35</string>
					</array>
					<array>
						<string>45</string>
						<string>45</string>
					</array>
					<array>
						<string>75</string>
						<string>75</string>
					</array>
					<array>
						<string>100</string>
						<string>100</string>
					</array>
					<array>
						<string>125</string>
						<string>125</string>
					</array>
					<array>
						<string>150</string>
						<string>150</string>
					</array>
					<array>
						<string>200</string>
						<string>200</string>
					</array>
					<array>
						<string>10.000</string>
						<string>10000</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Results</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>sim_limit</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>0.0</string>
				<key>pairs</key>
				<array>
					<array>
						<string>0.0</string>
						<string>0.0</string>
					</array>
					<array>
						<string>0.0025</string>
						<string>0.0025</string>
					</array>
					<array>
						<string>0.005</string>
						<string>0.005</string>
					</array>
					<array>
						<string>0.01</string>
						<string>0.01</string>
					</array>
					<array>
						<string>0.025</string>
						<string>0.025</string>
					</array>
					<array>
						<string>0.05</string>
						<string>0.05</string>
					</array>
					<array>
						<string>0.075</string>
						<string>0.075</string>
					</array>
					<array>
						<string>0.1</string>
						<string>0.1</string>
					</array>
					<array>
						<string>0.125</string>
						<string>0.125</string>
					</array>
					<array>
						<string>0.15</string>
						<string>0.15</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>The relevance threshold that determines which documents will be displayed when queries and similarity comparisons are run. Has an impact on performance.</string>
			<key>label</key>
			<string>Score Threshold</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>threshold</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Score [fn]</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Display</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_score</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Subgroups</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_subgroups</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Labels</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_labels</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>todo,done,important,...</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>label_names</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Records in default app</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Open</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>open_in_default_app</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Multiple records in tabs</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>open_in_tabs</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show Instances</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Record Actions</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_instances</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show URLs and mdlink</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_url</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Reveal on move, replicate, or duplicate</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>reveal_touched</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Copy page link if possible [⌘+C]</string>
			</dict>
			<key>description</key>
			<string>Page links can be copied when a corresponding PDF document is open in DEVONthink.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>copy_pagelink</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Enable reciprocal linking</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>enable_linking</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Linked Records</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>[NB] This is the identifier used for the custom metadata entry. Change this value to avoid conflicts if necessary.</string>
			<key>label</key>
			<string>❗</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>md_linked_records</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>pairs</key>
				<array>
					<array>
						<string>1</string>
						<string>1</string>
					</array>
					<array>
						<string>2</string>
						<string>2</string>
					</array>
					<array>
						<string>3</string>
						<string>3</string>
					</array>
					<array>
						<string>4</string>
						<string>4</string>
					</array>
					<array>
						<string>5</string>
						<string>5</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>The number of groups that were previously used to import files and should be remembered for future imports.</string>
			<key>label</key>
			<string>Import Memory</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>import_mem</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Inbox, Database, 22A73D37-BC00-41CB-A5D7-85A5029066DA</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Exclude Database(s)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>excluded_dbs</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>µBib</string>
			</dict>
			<key>description</key>
			<string>Integrate with my µBib workflow to get citations from DOIs, ISBNs, or jstor URLs detected on documents. You can also parse BibTeX into formatted citations if it is present in the custom metadata (modifier: ⌘).</string>
			<key>label</key>
			<string>Integration</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>use_ubib</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>OpenAI GPT</string>
			</dict>
			<key>description</key>
			<string>Enable to generate literature review summaries of your documents.</string>
			<key>label</key>
			<string>Integration</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>gpt_enable</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>sk-kbTfRX2U...</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Your OpenAI API key.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>gpt_apikey</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gpt-3.5-turbo-1106</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Model: GPT 3.5 Turbo</string>
						<string>gpt-3.5-turbo-1106</string>
					</array>
					<array>
						<string>Model: GPT 4 Turbo</string>
						<string>gpt-4-1106-preview</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>gpt_model</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>metadata</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Save to Custom Metadata</string>
						<string>metadata</string>
					</array>
					<array>
						<string>Save to Annotation File</string>
						<string>annotation</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>gpt_persist_strategy</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Review Summary</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>[NB] This is the identifier used for the custom metadata entry. Change this value to avoid conflicts if necessary.</string>
			<key>label</key>
			<string>❗</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>md_dvn_gpt_review</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>annotation_article</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The name of the template used when creating a new annotation file for the review summary.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>gpt_annotation_template</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>DEV</key>
		<string></string>
		<key>allowed</key>
		<string>1</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DEV</string>
		<string>allowed</string>
	</array>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-devonthink</string>
</dict>
</plist>
